%% vim: ft=erlang
{pre_hooks,
 [{compile, "mkdir -p include"}, %% ensure the include exists
  {compile,
   "bash -c 'for f in protobuf/*.proto; "
   "do "
   "  erl +B -noinput -pa $(pwd)/../gpb/ebin "
   "      -I$(pwd)/protobuf -o-erl src -o-hrl include -maps -il -strbin -maps_unset_optional omitted"
   "      -s gpb_compile c $(pwd)/$f ; "
   "done'"
  }]}.

{post_hooks,
 [{clean,
   "bash -c 'for f in proto/*.proto; "
   "do "
   "  rm -f src/$(basename $f .proto).erl; "
   "  rm -f include/$(basename $f .proto).hrl; "
   "done'"
  }]}.

{erl_opts, [{i, "../gpb/include"}]}.

{deps_dir, "lib"}.

{deps, [
        {logger, ".*", {git, {env, skuapso}, "HEAD"}}
        ,{hooks, ".*", {git, {env, skuapso}, "HEAD"}}
        ,{terminator, ".*", {git, {env, skuapso}, "HEAD"}}
        ,{gpb, ".*", {git, "https://github.com/tomas-abrahamsson/gpb", "HEAD"}}
       ]}.
